.navflow {
        text-transform: uppercase;
        background-color: transparent;
    }

    .navflow-other {
        text-transform: uppercase;
        background-color: #212529;
        opacity: 90%;
    }
